<launch>
    <node name="rviz" pkg="rviz" type="rviz"
           args="-d $(find real)/rviz/CV_sim.rviz"> 
    </node>

    <node name="YOLO_node" pkg="real" type="Yolo" output="screen">
    </node>

    <node name="Aruco_node" pkg="real" type="Aruco" output="screen">
    </node>

    <node pkg="rosbag" type="play" name="rosbag" args="-l $(find real)/bag/Car_D455_nano_aruco_0.bag">
    </node>

</launch>   