<launch>
    <node name="rviz" pkg="rviz" type="rviz"
           args="-d $(find real)/rviz/CV_sim.rviz"> 
    </node>

    <node name="FSM_node" pkg="real" type="CV" output="screen">
    </node>

    <node pkg="rosbag" type="play" name="rosbag" args="-l $(find real)/bag/Car_D455_small_2.bag">
    </node>

</launch>   